__pycache__/
*.py[cod]
*.pyo
.env
.env.*
*.log
users.json
simust_reports/
simust_player/
simust_realtime_recordings/
.vscode/
.idea/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/.cxx/
android/.idea/
.DS_Store
Thumbs.db
*.mp4
*.avi
*.mkv
*.mov
*.pt
*.onnx
*.weights
*.zip
*.pyc
